<div class="card-cocktail">
  <h3><%= cocktail.name %></h3>
  <h5>Ingredients</h5>
  <ul>
    <% cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %> - <%= dose.description %></li>
    <% end %>
  </ul>
</div>
