<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= 'https://source.unsplash.com/1600x900/?cocktail' %>');">
  <div class="container d-flex justify-content-center flex-column h-100">
    <div>
      <h1>All our cocktails</h1>
    </div>
  </div>
</div>


<div id="cocktails" class="container mt-5">

  <div class="grid-cocktails mb-5">
    <% @cocktails.each do |cocktail| %>
      <%= render partial: "cocktails/card", locals: { cocktail: cocktail } %>
    <% end %>
  </div>
</div>
