<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Searching for cocktails matching "<%= @keyword %>"</h2>
      <div class="grid-cocktails mb-5">
        <% @cocktails.each do |cocktail| %>
          <%= render partial: "card", locals: { cocktail: cocktail } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
