#main-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("main-banner-cocktails.jpg");
  height: 100vh;
}

.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}

@media (max-width:1199px) {
  .grid-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:991px) {
  .grid-cards {
    grid-template-columns: 1fr;
  }
}
