.list-ingredients {
  list-style-type: none;
  margin: 20px;
}

.banner {
  #button-edit-photo {
    position: absolute;
    bottom: 1em;
    right: 2em;
    transition: 0.3s;
    display: none;
    color: white;
  }

  #button-edit-photo:hover{
    color: $darkblue;
  }

  &:hover #button-edit-photo {
    display: inherit;
  }
}


.btn-hover-container {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.container.hoverable:hover .btn-hover-container {
  visibility: visible;
}
