* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(318deg, rgba(0,0,0,0.8981967787114846) 34%, rgba(19,60,85,1) 100%);
}

.logo {
  font-family: $headers-font;
  font-size: 2em;
  i {
    font-size: 1.3em;
  }
}
