<div id="footer" class="row bg-secondary vh-10 justify-content-center align-content-end mt-5">
  <%= link_to root_path, class: "navbar-brand text-white" do %>
    <span class="logo small">HipsterBlends <i class="fas fa-cocktail"></i></span>
  <% end %>
</div>
