.navbar-blendadvisor {
  justify-content: space-between;
  background-color: transparent;
  color: white;
  transition: 0.5s background-color ease;
}

.navbar-blendadvisor .navbar-collapse {
  flex-grow: 0;
}

.navbar-blendadvisor-bgblue {
  background-color: $darkblue;;
}

.navbar-blendadvisor .navbar-brand {
  font-family: $headers-font;
  line-height: 2em;
  i {
    font-size: 1.3em;
  }
}


