.navbar-hipsterblend {
  justify-content: space-between;
  background-color: transparent;
  color: white;
  transition: 0.3s background-color ease, 0.5s opacity;
}

.navbar-hipsterblend .navbar-collapse {
  flex-grow: 0;
}

.navbar-hipsterblend .navbar-brand {
  line-height: 2em;
  font-size: 0.8em;
  opacity: 0;
}

.navbar-hipsterblend-visible {
  background-color: $darkblue;
  transition: 0.3s background-color ease, 0.5s opacity;
  .navbar-brand {
    opacity: 1;
  }
}
